
.menu-deroulant, #menu-deroulant ul {padding: 0; margin: 0;list-style: none;}

.menu-deroulant {/* on centre le menu dans la page */   text-align: center;}

.menu-deroulant li {/* on place les liens du menu horizontalement */   display: inline-block;}


.menu-deroulant ul li {/* on enlève ce comportement pour les liens du sous menu */ display: inherit;}

.menu-deroulant a {    text-decoration: none;    display: block;	color:#000;}

.menu-deroulant ul {    position: absolute;/* on cache les sous menus complètement sur la gauche */    left: -999em;    text-align: left;}

.menu-deroulant li:hover ul {/* Au survol des li du menu on replace les sous menus */    left: auto;}

.menu-demo2, .menu-demo2 ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
}
.menu-demo2 li{
display:inline-block;
position:relative;
border-radius:8px 8px 8px 8px;
}
.menu-demo2 ul li{
display:inherit;
border-radius:8px 8px 8px 8px;
}
.menu-demo2 ul li:hover{
border-radius:8px 8px 8px 8px;
}
.menu-demo2 ul li:last-child{
border-radius:8px 8px 8px 8px;
}
.menu-demo2 ul{
position:absolute;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
.menu-demo2 li:hover ul{
max-height:30em;
}
/* background des liens menus */
.menu-demo2 li:first-child{

border: 3px #9FC6FF solid;
background-color: #003366;
background-image:-webkit-linear-gradient(top, #003366 0%, #2A2333 100%);
background-image:linear-gradient(to bottom, #003366 0%, #2A2333 100%);
}
.menu-demo2 li:nth-child(2){

border: 3px #9FC6FF solid;
background-color: #003366;
background-image: -webkit-linear-gradient(top, #003366 0%, #333A40 100%);
background-image:linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
}
.menu-demo2 li:nth-child(3){

border: 3px #9FC6FF solid;
background-color: #003366;
background-image:-webkit-linear-gradient(top, #F6AD1A 0%, #9F391A 100%);
background-image:linear-gradient(to bottom, #F6AD1A 0%, #9F391A 100%);
}
.menu-demo2 li:last-child{

border: 3px #9FC6FF solid;
background-color: #003366;
background-image:-webkit-linear-gradient(top, #003366 0%, #677F35 100%);
background-image:linear-gradient(to bottom, #003366 0%, #677F35 100%);
}
/* background des liens sous menus */
.menu-demo2 li:first-child li{
border: 3px #9FC6FF solid;
background:#003366;
}
.menu-demo2 li:nth-child(2) li{
border: 3px #9FC6FF solid;
background:#333A40;
}
.menu-demo2 li:nth-child(3) li{
border: 3px #9FC6FF solid;
background:#9F391A;
}
.menu-demo2 li:last-child li{
border: 3px #9FC6FF solid;
background:#003366;
}
/* background des liens menus et sous menus au survol */
.menu-demo2 li:first-child:hover, .menu-demo2 li:first-child li:hover{
background:#65537A;
}
.menu-demo2 li:nth-child(2):hover, .menu-demo2 li:nth-child(2) li:hover{
background:#729EBF;
}
.menu-demo2 li:nth-child(3):hover, .menu-demo2 li:nth-child(3) li:hover{
background:#F6AD1A;
}
.menu-demo2 li:last-child:hover, .menu-demo2 li:last-child li:hover{
background:#CFFF6A;
}
/* les a href */
.menu-demo2 a{
text-decoration:none;
display:block;
padding:8px 8px;
color:#fff;
font-family:arial;
}
.menu-demo2 ul a{
padding:4px 0;
}
.menu-demo2 li:hover li a{
color:#fff;
text-transform:inherit;
}
.menu-demo2 li:hover a, .menu-demo2 li li:hover a{
color:#000;
}