.equipes{

color: #FFFFFF;
font-size: 16px;
font-family: arial;
text-align: center;
font-weight: bold;



}
table {
width: 1200px;
}



th{
color: #FFFFFF;
font-size: 18px;
font-family: arial;
text-align: center;
font-weight: bold;
border: thin solid #6495ed;
background-color: #0066CC;
}