
#droite {
color: #FF0000;
font-size: 16px;
font-family: arial;
text-align: right;
font-weight: Bold;
text-decoration: none;

}
#gauche a {
color: #FF0000;
font-size: 16px;
font-family: arial;
text-align: left;
font-weight: Bold;
text-decoration: none;

}

h2{
color: red;
font-size: 14px;
}

#titre{

color: #000000;
font-size: 25px;
font-family: arial;
text-align: center;
font-weight: Bold;
}

#coin3{

color: #000000;
font-size: 15px;
font-family: arial;
text-align: center;
font-weight: Bold;
}

#coin5{
background-color:#040BB3;
border:2px solid #405864;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
color: #FFFFFF;
font-size: 14px;
text-align: center;
font-weight: Bold;

}


#coin4 { 
background-color:#405864;
border:2px #040BB3 solid;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
font-size: 14px;
color: #FFFFFF;
text-align: center;
font-weight: Bold;
 }

#equipeIpro{
background-color:#0066CC;
border:2px solid #405864;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
color: #FFFFFF;
font-size: 14px;
text-align: center;
font-weight: Bold;

}

#equipeIfed{
background-color:#0091D7;
border:2px solid #405864;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
color: #FFFFFF;
font-size: 14px;
text-align: center;
font-weight: Bold;

}


#equipeIterr{
background-color:#04ADFF;
border:2px solid #405864;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
color: #FFFFFF;
font-size: 14px;
text-align: center;
font-weight: Bold;

}

#equipeII{
background-color:#00CC99;
border:2px solid #405864;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
color: #FFFFFF;
font-size: 13px;
text-align: center;
font-weight: Bold;
}

#equipeJ{
background-color:#993399;
border:2px solid #405864;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
color: #FFFFFF;
font-size: 13px;
text-align: center;
font-weight: Bold;
}
#equipeENTR{
background-color:#666666;
border:2px solid #405864;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
color: #FFFFFF;
font-size: 13px;
text-align: center;
font-weight: Bold;
}
#equipeFEM{
background-color:#FF00FF;
border:2px solid #405864;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
color: #FFFFFF;
font-size: 13px;
text-align: center;
font-weight: Bold;
}
#cal{
background-color:red;
border:2px solid #405864;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
color: #FFFFFF;
font-size: 13px;
text-align: center;
font-weight: Bold;
}


.cursor {
    cursor: pointer;
  }