 
#palmares2{
color: #FFFFFF;
background-color:#040BB3;
border:2px solid #405864;
border-radius:5px 5px 5px 5px;
margin-left:650px;
width: 200px;
background-color:#FFFF00;
font-family: arial; 
color: black;
font-size: 16px;
text-align: center;
font-weight: Bold;
} 
 
/*description finale */ 
 
 #division{
color: #FFFFFF;
background-color:#040BB3;
border:2px solid #405864;
border-radius:25px 8px 25px 8px;
margin-left:40px;
width: 200px;
font-size: 14px;
text-align: center;
Font-Weight: bold;
font-family: Arial;
background-color:#040BB3;
border:2px solid #405864;
}



#finale1{
float:left;
background :#405864;
border:2px solid #040BB3;
border-radius:8px 8px 8px 8px;
margin-left:300px;
margin-top:-20px;
width: 240px;

color: #FFFFFF;
font-size: 14px;
text-align: center;
Font-Weight: bold;
font-family: Arial;
}

#score1{
position: relative;
background :#405864;
border:2px solid #040BB3;
border-radius:8px 8px 8px 8px;

margin:-20px 0 0 2px;
margin-left:547px;
width: 35px;

color: #FFFFFF;
font-size: 14px;
text-align: center;
Font-Weight: bold;
font-family: Arial;
}


#finale2{
clear: both;
color: #FFFFFF;
background :#405864;
border:2px solid #040BB3;
border-radius:8px 8px 8px 8px;
margin-top:2px;
margin-left:300px;
width: 240px;
font-size: 14px;
text-align: center;
Font-Weight: bold;
font-family: Arial;
}
#score2{
float:left;
position: relative;
color: #FFFFFF;
background :#405864;
border:2px solid #040BB3;
border-radius:8px 8px 8px 8px;
margin:-20px 0 0 547px;

width: 35px;
font-size: 14px;
text-align: center;
Font-Weight: bold;
font-family: Arial;
}

#champlogo{

position: absolute;
margin:-60px 0 0px 630px;

font-family: arial; 
color: black;
font-weight: Bold;
text-align: center;
font-size: 28px;

}


#champnom{
float:left;
position: absolute;
margin: -40px 0 0 750px;
width: 250px;
vertical-align:middle;
font-family: arial; 
color: black;
font-weight: Bold;
text-align: center;
font-size: 28px;
}

/*description demi finale */

#divisionDemi{
color: #000000;
background-color:#FF9933;
border:2px solid #405864;
border-radius:25px 8px 25px 8px;
margin-left:20px;
width:150px;
font-size: 14px;
text-align: center;
Font-Weight: bold;
font-family: Arial;

border:2px solid #405864;
}



#demi1{
clear: both;
background :#405864;
border:2px solid #040BB3;
border-radius:8px 8px 8px 8px;
margin-left:50px;

width: 210px;

color: #FFFFFF;
font-size: 14px;
text-align: center;
Font-Weight: bold;
font-family: Arial;
}

#demiScore1{
position: relative;
background :#405864;
border:2px solid #040BB3;
border-radius:8px 8px 8px 8px;

margin:-20px 0 0 2px;
margin-left:265px;
width: 35px;

color: #FFFFFF;
font-size: 14px;
text-align: center;
Font-Weight: bold;
font-family: Arial;
}


#demi2{
clear: both;
color: #FFFFFF;
background :#405864;
border:2px solid #040BB3;
border-radius:8px 8px 8px 8px;
margin-top:2px;
margin-left:50px;
width: 210px;
font-size: 14px;
text-align: center;
Font-Weight: bold;
font-family: Arial;
}
#demiScore2{
float:left;
position: relative;
color: #FFFFFF;
background :#405864;
border:2px solid #040BB3;
border-radius:8px 8px 8px 8px;
margin:-20px 0 0 265px;

width: 35px;
font-size: 14px;
text-align: center;
Font-Weight: bold;
font-family: Arial;
}
#demi5{
clear: both;
color: #FFFFFF;
background :#405864;
border:2px solid #040BB3;
border-radius:8px 8px 8px 8px;
margin-top:2px;
margin-left:350px;
width: 210px;
font-size: 14px;
text-align: center;
Font-Weight: bold;
font-family: Arial;
}
#demiScore5{
float:left;
position: relative;
color: #FFFFFF;
background :#405864;
border:2px solid #040BB3;
border-radius:8px 8px 8px 8px;
margin:-20px 0 0 566px;

width: 35px;
font-size: 14px;
text-align: center;
Font-Weight: bold;
font-family: Arial;
}


#demi6{
position: absolute;
float:left;
color: #FFFFFF;
background :#405864;
border:2px solid #040BB3;
border-radius:8px 8px 8px 8px;
margin-top:-20px;
margin-left:566px;
width: 210px;
font-size: 14px;
text-align: center;
Font-Weight: bold;
font-family: Arial;
}
#demiScore6{
float:left;
position: absolute;
color: #FFFFFF;
background :#405864;
border:2px solid #040BB3;
border-radius:8px 8px 8px 8px;
margin:-20px 0 0 2px;

width: 35px;
font-size: 14px;
text-align: center;
Font-Weight: bold;
font-family: Arial;
}

#demi3{
clear: both;
color: #FFFFFF;
background :#405864;
border:2px solid #040BB3;
border-radius:8px 8px 8px 8px;
margin-top:2px;
margin-left:50px;
width: 210px;
font-size: 14px;
text-align: center;
Font-Weight: bold;
font-family: Arial;
}
#demiScore3{
float:left;
position: relative;
color: #FFFFFF;
background :#405864;
border:2px solid #040BB3;
border-radius:8px 8px 8px 8px;
margin:-20px 0 0 265px;

width: 35px;
font-size: 14px;
text-align: center;
Font-Weight: bold;
font-family: Arial;
}
#demi4{
clear: both;
color: #FFFFFF;
background :#405864;
border:2px solid #040BB3;
border-radius:8px 8px 8px 8px;
margin-top:2px;
margin-left:50px;
width: 210px;
font-size: 14px;
text-align: center;
Font-Weight: bold;
font-family: Arial;
}
#demiScore4{
float:left;
position: relative;
color: #FFFFFF;
background :#405864;
border:2px solid #040BB3;
border-radius:8px 8px 8px 8px;
margin:-20px 0 0 265px;

width: 35px;
font-size: 14px;
text-align: center;
Font-Weight: bold;
font-family: Arial;
}

#demiChamplogo{
float:left;
position: absolute;
margin:-60px 0 0px 630px;

font-family: arial; 
color: black;
font-weight: Bold;
text-align: center;
font-size: 28px;

}


#demiChampnom{
float:left;
position: absolute;
margin: -40px 0 0 750px;
width: 250px;
vertical-align:middle;
font-family: arial; 
color: black;
font-weight: Bold;
text-align: center;
font-size: 28px;
}

