td{text-align:center;}
.celluleNoire{font-family: arial;font-size: 16px;background-color:#000000;font-weight: Bold;}
.celluleGrise{background-color:#333333;font-size: 16px;font-family: arial;font-weight: Bold;}
.none a{text-decoration: none; color: #ffffff; text-align:center;font-family: arial; font-size: 19px;  height:28;}
.none2 a{text-decoration: none; color: #ffffff; text-align:center;font-family: arial; font-size: 15px;}
.none3 a{text-decoration: none; color: #333333; text-align:center;font-family: arial; font-size: 19px;  height:28;}

.compet a{text-decoration: none; color: #e50000; text-align:center;font-family: arial; font-size: 18px; }


.ligneBlanche{background: #FFFFFF; font-weight:bold;}
.ligneNoire{background: #000000;}
.ligneNoireLight{background: #333333;}
.ligneGrise{background: #CCCCCC; }
.ligneBleue{background: #0066CC;}

.hauteurColonne{ height: 22px;}

.ligneBlanche650{background: #FFFFFF; width:650 }
.adresseBas{text-align:center; color:#000000;font-size: 19px; font-weight:bold;}

.colonneGauche{width: 225px;  background:#006699;vertical-align: top; }



.largueurTab{width:2500px; }
.tableauBas{border:1; border-color:#006699;  margin:auto;  }

.tableauBas2{border:1;  
    margin:auto;  width:1250px; }
  


/*
.tableFed{width:650; border:3px cellspacing=0; border-color :#000000; ali   :center; cellpadding:0}
*/

td.azeLigue{width: 1px;	height: 1px;}


img{border:0;}

/*logo ligue*/






/*bas*/
.bas{font-size: 16px;background-color:#000000;font-family: arial;color: #ffffff;font-weight: Bold;}
.bas a{font-size: 16px;background-color:#000000;font-family: arial;color: #ffffff;font-weight: Bold;}

/*pages territoriaux*/
.terr{font-size: 16px;color: #000066;font-family: arial;font-weight: Bold;}
.terr a{text-decoration: none;color: #000066;}
.terr2{width:600px;background-color:#00CCCC;font-size: 16px;color: #000066;font-family: arial;font-weight: Bold;}
.terr2 a{color:#000000;font-weight: normal;font-size: 12px;text-decoration: none;color: #000000;}
.terr3{width:500px;background-color:#006699;font-size: 16px;color: #FFFFFF;font-family: arial;font-weight: Bold;}
.terr3 a{color:#000000;font-weight: normal;font-size: 14px;text-decoration: none;color: #000000;font-weight: Bold;}
.terr4{width:500px;background-color:#FF00FF;font-size: 16px;color: #FFFFFF;font-family: arial;font-weight: Bold;}
.terr4 a{color:#000000;font-weight: normal;font-size: 14px;text-decoration: none;color: #000000;font-weight: Bold;}


