a:link {color: #3b487f; text-decoration:underline;}
a:visited {color: #3b487f; text-decoration:underline;}
a:active {color: #3b487f; text-decoration:none;}
A:hover {color:#3b487f; text-decoration:none;}
A {color: #3b487f; text-decoration: underline;}

BODY.phppr {scrollbar-face-color: #FFFFFF; scrollbar-shadow-color: #3b487f;
scrollbar-highlight-color: #3b487f; scrollbar-3dlight-color: #3b487f;
scrollbar-darkshadow-color: #000000; scrollbar-track-color: #FFFFFF;
scrollbar-arrow-color: #3b487f; color: #000000;  font-size:10pt; font-family:  Arial, verdana, Garamond, Times New Roman, Times; leftmargin:"2"; font-size:9pt }


TD.phppr {background: #C0C0C0; color: #000000; font-size: 8.5pt;}

TD.phppr2 {background: #3b487f; color: #FFFFFF; font-size: 9pt;}

TD.phppr3 {background: #c0c0c0; color: #000000; font-size: 9pt;  padding:5}

TD.phppr4 {background: #E2E2E2; color: #000000; font-size: 9pt;  padding:5}

TD.phppr5 {background: #FFFFFF; color: #000000; font-size: 9pt;  padding:5}

TD.phppr6 {background: #FFFFFF; color: #000000; font-size: 10pt;  padding:5}

TD.phppr7 {background: #ffcc99; color: #000000; font-size: 9pt;  padding:5}


TABLE.phppr { border: 1 solid #3b487f; font-size: 10pt;  border-style: solid; border-color:#3b487f; border-width: 2; border-collapse:collapse;}


TR.phppr3 {background: #3b487f ; vertical-align: top; text-align: center; color: #FFFFFF}


font.phppr {color: #3b487f; font-size: 18pt;  font-weight: bold }


.popper { POSITION: center; VISIBILITY: hidden }




