

#text{
font-family: arial;
font-size: 18px;
color: #000000;
text-align:left;
margin-left: 80px;

}



#text a{
text-align:left;
font-size: 19px;
font-family: arial;
color: #000099;
text-decoration: none;
margin-left: 180px;
}

#choixComite{

font-size: 19px;
font-family: arial;
color: #000099;


}

