
.Taille{
font-family: Arial;
color:black;
font-size: 14px;
text-align: center;
}
.TailleGauche{
font-family: Arial;
color:black;
font-size: 14px;
text-align: left;
}


.Taillebold{
margin-left:5px;
font-family: Arial;
color:BLACK;
font-size: 14px;
font-weight:bold;
text-align: left;
}

.listeJoueurs{
margin-left:5px;
font-family: Arial;
color:BLACK;
font-size: 16px;
text-align: left;

}


#Taille{
font-family: Arial;
color:black;
font-size: 14px;
text-align: center;

}
#listeJoueurs{
margin-left:5px;
font-family: Arial;
color:BLACK;
font-size: 16px;
text-align: left;

}


#Taillebold{
margin-left:5px;
font-family: Arial;
color:BLACK;
font-size: 14px;
font-weight:bold;
text-align: left;
}

#T15{
font-family: Arial;
color:black;
font-size: 15px;
text-align: center;
}
#T15bold{
margin-left:5px;
font-family: Arial;
color:black;
font-size: 15px;
font-weight:bold;
text-align: left;
}

#T16{
font-family: Arial;
color:black;
font-size: 16px;
text-align: center;
}
#T16bold{
margin-left:5px;
font-family: Arial;
color:black;
font-size: 16px;
font-weight:bold;
text-align: left;
}

#T17{
font-family: Arial;
color:black;
font-size: 17px;
text-align: center;
}

#T17bold{
margin-left:5px;
font-family: Arial;
color:black;
font-size: 17px;
font-weight:bold;
text-align: left;
}



#T18{

font-family: Arial;
color:black;
font-size: 18px;
text-align: center;
}

#T18bold{
margin-left:5px;
font-family: Arial;
color:black;
font-size: 18px;
font-weight:bold;
text-align: left;
}

#T19{
font-family: Arial;
color:black;
font-size: 19px;
text-align: center;
}

#T19bold{
margin-left:5px;
font-family: Arial;
color:black;
font-size: 19px;
font-weight:bold;
text-align: left;
}

#T20{
font-family: Arial;
color:black;
font-size: 20px;
text-align: center;
}
#T20bold{
margin-left:5px;
font-family: Arial;
color:black;
font-size: 20px;
font-weight:bold;
text-align: left;
}




#TITRE{
font-family: Helvetica;
color:BLACK;
font-size: 16px;
font-weight:bold;
text-align: center;
}

#affichage{
font-family: Helvetica;
color:BLACK;
font-size: 13px;
text-align: left;
}


