.texte{
color: #000000;
font-family: Arial;
font-size: 25px;
Font-weight: bold;
}

.nomJoueur{
color: #000000;
font-family: Arial;
font-size: 16px;

}

.nomJoueurConsult{
color: #000000;
font-family: Arial;
font-size: 22px;
Font-weight: bold;

}

.licenceConsult{
color: #000000;
font-family: Arial;
font-size: 18px;
Font-weight: bold;

}


.texte18{
color: #000000;
font-family: Arial;
font-size: 18px;
Font-weight: bold;
}

