body
{
	background-color:#fff;
	font-family:Arial, sans-serif;
	font-size:100%;
}

form
{
	display:none;
}

#footer
{
	border-top:1px solid #000;
	margin-top:10px;
	text-align:right;
}

#footer p
{
	font-size:.7em;
}

h1
{
	border-bottom:2px solid #000;
	font-size:1.4em;
	margin:0;
	padding:0;
	text-align:center;
}

h4
{
	font-size:1.1em;
	margin:10px 0;
	padding:0;
	text-align:center;
}

table
{
	background-color:#fff;
	border-bottom:1px solid #000;
	border-left:1px solid #000;
	border-right:1px solid #000;
}

thead tr th
{
	background-color:#fff;
	border-bottom:1px solid #000;
	border-top:1px solid #000;
	color:#000;
}

tbody tr td
{
	border-bottom:1px solid #000;
}

tbody tr.SousTitre
{
	background-color:#fff;
}

tfoot tr td
{
	background-color:#fff;
	color:#000;
}

a,a:link,a:visited
{
	text-decoration:none;
}