

#champ{
color: #FF0000;
font-family: arial;
font-weight: Bold;
font-size: 26px;
background-color:#FFFF00;
text-align: center;
border:2px #040BB3 solid;
}
a 
{
text-decoration: none;
color: #FFFFFF;
}



#droite {
color: #FF0000;
font-size: 16px;
font-family: arial;
text-align: right;
font-weight: Bold;
text-decoration: none;

}
.numero { 
background-color:#000000;
border:2px #000000 solid;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
font-size: 14px;
color: #FFFFFF;
text-align: center;
font-weight: Bold;
 }

.barrage { 
background-color:#693D4C;
border:2px #000000 solid;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
font-size: 14px;
color: #FFFFFF;
text-align: center;
font-weight: Bold;

 }
 
.barrageGA { 
background-color:#693D4C;
border:2px #000000 solid;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
font-size: 14px;
color: #FFFFFF;
text-align: center;
font-weight: Bold;
 }
.barragePts { 
background-color:#693D4C;
border:2px #000000 solid;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
font-size: 16px;
color: #FFCC00;
text-align: center;
font-weight: Bold;
 } 
 
 
.barrage2 { 
background-color:#666633;
border:2px #000000 solid;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
font-size: 14px;
color: #FFFFFF;
text-align: center;
font-weight: Bold;

 }
 
.barrage2pts{
background-color:#666633;
border:2px solid #000000;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
color: #FFCC00;
font-size: 16px;
text-align: center;
font-weight: Bold;

}
 
.barrage2GA{
background-color:#666633;
border:2px solid #000000;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
color: #FFFFFF;
font-size: 14px;
text-align: center;
font-weight: Bold;

}

#gauche a {
color: #FF0000;
font-size: 16px;
font-family: arial;
text-align: left;
font-weight: Bold;
text-decoration: none;

}

h2{
color: red;
font-size: 14px;
}

#titre{

color: #000000;
font-size: 25px;
font-family: arial;
text-align: center;
font-weight: Bold;

}

#champion{
background-color:yellow;
color: #ff0000;
font-size: 25px;
font-family: arial;
text-align: center;
font-weight: Bold;

}



#coin3{

color: #000000;
font-size: 15px;
font-family: arial;
text-align: center;
font-weight: Bold;
}

#coin5{
background-color:#040BB3;
border:2px solid #405864;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
color: #FFFFFF;
font-size: 14px;
text-align: center;
font-weight: Bold;

}


#coin4 { 
background-color:#405864;
border:2px #040BB3 solid;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
font-size: 14px;
color: #FFFFFF;
text-align: center;
font-weight: Bold;
 }
#coin5pts{
background-color:#040BB3;
border:2px solid #405864;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
color: #FFCC00;
font-size: 16px;
text-align: center;
font-weight: Bold;

}


#coin4pts { 
background-color:#405864;
border:2px #040BB3 solid;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
font-size: 16px;
color: #FFCC00;
text-align: center;
font-weight: Bold;
 } 
 
 

#equipeIpro{
background-color:#0066CC;
border:2px solid #405864;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
color: #FFFFFF;
font-size: 14px;
text-align: center;
font-weight: Bold;

}

#equipeIfed{
background-color:#0091D7;
border:2px solid #405864;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
color: #FFFFFF;
font-size: 14px;
text-align: center;
font-weight: Bold;

}


#equipeIterr{
background-color:#04ADFF;
border:2px solid #405864;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
color: #FFFFFF;
font-size: 14px;
text-align: center;
font-weight: Bold;

}

#equipeII{
background-color:#00CC99;
border:2px solid #405864;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
color: #FFFFFF;
font-size: 13px;
text-align: center;
font-weight: Bold;
}

#equipeJ{
background-color:#993399;
border:2px solid #405864;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
color: #FFFFFF;
font-size: 13px;
text-align: center;
font-weight: Bold;
}
#equipeENTR{
background-color:#666666;
border:2px solid #405864;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
color: #FFFFFF;
font-size: 13px;
text-align: center;
font-weight: Bold;
}
#equipeFEM{
background-color:#FF00FF;
border:2px solid #405864;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
color: #FFFFFF;
font-size: 13px;
text-align: center;
font-weight: Bold;
}
#cal{
background-color:red;
border:2px solid #405864;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
color: #FFFFFF;
font-size: 13px;
text-align: center;
font-weight: Bold;
}

#entete{
background-color:black;
border:2px solid #405864;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
color: #FFFFFF;
font-size: 16px;
text-align: center;
font-weight: Bold;
}
