
body{    
background-color: black;   
}

a
{
text-decoration: none;
}

hr{
width: 500px;
color:blue;

}

/*CHAMPIONNAT TERRITORIAUX*/

h1{ 
color: black;
font-size: 32px;
text-align:center;
Font-weight:bold;
}

/*Comite*/

h2 { 
color: red;
font-size: 28px;
text-align:center;
Font-weight:bold;
}

/*Equipe I et II*/
.user{ 
font-family: Arial;
background-color:red;
color: #000000;
font-size: 14px;
text-align:center;
Font-weight:bold;
border-style: solid;
border-width:2px;
margin:1px;
border-radius: 10px;
margin: 5px 5px 5px 5px;
border-color:#000000;
width: 200px;
}


.bienvenue{
text-align:left;
font-family: Arial;
font-size: 18px;
Font-weight: bold;
border-color:#000000;
margin: 5px 5px 5px 5px;


}







h4 a 
{
color: #ffffff;
text-decoration: none;
}
.fond{

background: #006699;
}



/*Division*/
h5{ 
width: 580px;
height: 25px;
Font-weight:bold;
background: #FF9933;
color: #000000;
font-size: 25px;
border-style: solid;
border-width:2px;
border-color: #000000;
text-align:center;
}

/*Plus d'infos & Calendrier*/
h6{

width: 205px;
font-family: Arial;
color: #009900;
font-size: 16px;
background: #e9e9e9;
border-style: solid;
border-width:2px;
border-color: #003366;
margin:1px;
text-align: center;
border-radius: 10px;
margin: 5px 5px 5px 5px;
}
h6 a
{ 
 color: #009900; 
 text-decoration: none; 
font-weight:bold; 
} 

h7
{
width: 580px;
height: 25px;
Font-weight:bold;
background: #FF9933;
color: #000000;
font-size: 25px;
border-style: solid;
border-width:2px;
border-color: #000000;
text-align:center;
}




.fondFem{
border-style: solid;
background-color: #FF9933;  
border:3px;
border-color:red;
text-align:center;

}

.tabHautDroit{

font-family: arial;
font-weight: Bold;
font-size: 17px;
font-style: italic;
text-align: center;
border: 1px black solid ;
background-color:#0099CC;
color: #000000;
border-color:#333333;
}
.tabHautDroit a{
color: #000000; 
 text-decoration: none; 
}

.tab3{

font-family: arial;
font-weight: Bold;
font-size: 13px;
text-align: center;
color: #000000;
border: 1px black solid ;
background-color:#FF9933;
color: #000000;

}

}

.tableau2{
font-family: arial;
font-family: arial;
font-weight: Bold;
font-size: 13px;
text-align: center;
color: #000000;
border: 3px white double;
background-color:#FF9933;


}

.tab3  a{
text-decoration: none;
color: #000000;
}

/*Tableaux liens (H ph 1 2 3 4 )*/

.tableau1{
width:500px;
font-family: arial;
font-weight: Bold;
font-size: 13px;
color: #000000;
text-align: center;
border: 3px black solid;
background-color:#FFffff;
}

.tableau4{
font-family: arial;
font-weight: Bold;
font-size: 18px;
text-align: center;
color: #000000;
vertical-align: middle;
background-color:#006699;
border: 1px black solid;
}


.tableau4  a{
color: #ffffff;
}


#annonce{

text-align: center;
border:3px solid #405864;
border-radius:20px 20px 20px 20px; 
font-weight: Bold;
background-color:#CC66FF;
}
