.cellule{

text-align: center;

}
.equipe1Titu
{
font-family : Arial;
font-weight: bold;
font-family: arial;
background-color :red;
}


.equipe1Rempla
{
font-family : Arial;
font-weight: bold;
font-family: arial;
background-color :green;
}