.equipes{
color: #FFFFFF;
font-size: 16px;
font-family: arial;
text-align: center;
font-weight: bold;



}
table {
width: 1250px;
  margin : auto;
}



.equipeI{
color: #FFFFFF;
font-size: 18px;
font-family: arial;
text-align: center;
font-weight: bold;
border: thin solid #6495ed;
background-color: #0066CC;
}


.equipeII{
  color: #FFFFFF;
  font-size: 18px;
  font-family: arial;
  text-align: center;
  font-weight: bold;
  border: thin solid #6495ed;
  background-color: #07993a;
  }



.bgBlue{background-color: #006699; }

.cellule{font-size: 16px;font-family: arial;color: #ffffff;font-weight: Bold;}

a.decorationNone{
    text-decoration:none;
    color: #FFFFFF;
}


