#body {
 font-family:"trebuchet ms",sans-serif;
 font-size:100%;
 }
#form {
 margin-left:3px;
 background-color:#FAFAFA;
 padding:8px;
 width:100%;
 }
 
 
 
fieldset {
 padding:0 0 20px 20px;
 margin-bottom:7px;
 border:1px solid #DF3F3F;
 width:90%;
 background-color:#eaf2f8;
 }
 

 #test {
 padding:0 0 20px 20px;
 margin-bottom:7px;
 border:1px solid #DF3F3F;
 width:90%;
 background-color:#fadbd8;
 }
 
 #valider {
 font-family: arial;
border:1px solid #000000;
color: #000000;
font-size: 18px;
background-color:#E5e8e8;
 }
 
 
 
legend {
font-family: arial;
 color:#DF3F3F;
 font-weight:bold
 }
#input{
padding:3px;
 border:1px solid #F5C5C5;
 border-radius:5px;
 width:50px;
 box-shadow:1px 1px 2px #C0C0C0 inset;
 background-color:#FFF3F3;
}

#input[type=submit], input[type=reset] {
 width:100px;
 margin-left:5px;
 box-shadow:1px 1px 1px #D83F3D;
 cursor:pointer;
 }
 
 
h3{ 
background-color:#E1E6FA;
color: #000000;
font-size: 18px;
text-align:center;
Font-weight:bold;
border-style: solid;
border-width:2px;
margin:1px;
border-radius: 10px;
margin: 5px 5px 5px 5px;
border-color:#000000;
width: 100%;
}
.equipe{
font-family: arial;
text-align:center;
color: #000000;
font-size: 18px;
Font-weight:bold;
}

a{
Font-weight:bold;
color: #ffffff;
text-decoration: none;
}

.lien {
font-family: arial;
text-align:center;
Font-weight:bold;
color: #FFFFFF;

}

.lienJournee {
font-family: arial;
text-align:center;
Font-weight:bold;
color: #000000;

}

.lien a{
font-size:16px;
background-color: #FFFF00;
color: red;
text-decoration: none;
}

.equipeII{
font-size:12px;
background-color: #FFFF00;
color: black;
font-family: arial;
}





.tab3{
font-family: Arial;
background-color:red;
border:2px solid #405864;
border-radius:8px 8px 8px 8px; 
color: red;
text-align: center;
}

.tab4{
font-family: Arial;
background-color:green;
border:1px solid #405864;
border-radius:8px 8px 8px 8px; 
color: red;
text-align: center;
}

.h22
{ 
background-color:#006699;
color:white;
font-size:20px;
text-align:center;
font-family:Arial;
Font-weight:bold;
}

.h12
{
 background-color:#FFFFFF;
color:black;
font-size:20px;
text-align:center;
font-family:Arial;
Font-weight:bold;
}