h1{color:red;text-align:center;}
h2{color:black;text-align:center;}
/*
hr{color:red;width:550px;}-->
*/
.saisieGras a{text-decoration:none;color:#000000;}

.titre{font-family: arial;font-weight: Bold;color:red;text-align:center;font-size: 20px;background-color:#FFCCCC;}

.titreGauche{color:#000000;text-align:right;font-size: 15px;font-family: arial;}

.saisieGras{color:#000000;text-align:center;font-size: 18px;font-family: arial;font-weight: Bold;}

td.saisie{color:#000000;text-align:center;font-size: 18px;font-family: arial;}

.info{color:#000000;text-align:left;font-size: 16px;font-family: arial;}

.saisonPaireNG{Font-Weight: Normal;background-color:#FFFFFF;font-family: arial;font-size: 17px;color:#000000;text-align:left;}
.saisonImpaireNG{Font-Weight: Normal;background-color:#CCCCCC;font-family: arial;font-size: 17px;color:#000000;text-align:left}

.saisonPaire{Font-Weight: Bold; background-color:#FFFFFF; font-family: arial;font-size: 17px;color:#000000;}
.saisonImpaire{Font-Weight: Bold; background-color:#CCCCCC; font-family: arial;font-size: 17px;color:#000000;}

#saisonEnCours{margin: 0px auto;text-align:center;width:300px;font-weight: Bold;font-family: arial;font-size: 19px;color:#000000;background-color:yellow;}

#palmares{font-family: arial;font-weight: normal;color:#000000;font-size: 17px;}