#affichage a{
font-family: arial;
text-decoration:none;
color:#000000;
font-weight: Bold;
font-size: 14px;
}

.titre{
margin: 0px auto;
text-align:center;
width:400px;
font-weight: Bold;
font-family: arial;
font-size: 25px;
color:red;
background-color:yellow;

}

.titrePage{
    margin: 0px auto;   text-align:center;

    font-weight: Bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    color:rgb(6, 6, 6);
    }




 
   