#quartspts { 
background-color:#E4EFFF;
border:1px solid #9FC6FF;
border-radius:8px 8px 8px 8px; 
font-family: arial; 
font-size: 16px;
color: red;
text-align: center;
font-weight: Bold;

 } 


h2{
color: #000000;
font-size: 15px;
font-family: arial;
text-align: center;
font-weight: Bold;
border-color: #ffffff;


border-radius: 20px;
border:1px #E4EFFF solid;

background-color:#9FC6FF; 
border:1px #E4EFFF solid; 
border-radius:20px



}

#titre{

color: #000000;
font-size: 25px;
font-family: arial;
text-align: center;
font-weight: Bold;
}

#titre-haut{
color: #FFFFFF;
font-size: 25px;
font-family: arial;
text-align: center;
font-weight: bold;
background-color: #006699
}

#coin3{

color: #000000;
font-size: 15px;
font-family: arial;
text-align: center;
font-weight: Bold;
}

#coin4 {
background-color:#E4EFFF;
border:1px solid #9FC6FF;
border-radius:10px 10px 10px 10px; 
font-family: arial; 
font-size: 15px;
text-align: center;
font-weight: Bold;
text-decoration: none;
}


#coin5 { 
background-color:#9FC6FF;
border:1px #E4EFFF solid;
border-radius:10px 10px 10px 10px; 
font-family: arial; 
font-size: 16px;
text-align: center;
font-weight: Bold;
 }
 
  a 
{
text-decoration: none;
}

#coin8 {
background-color:#FFCC66;
border:1px solid #003366;
border-radius:10px 10px 10px 10px; 
font-family: arial; 
font-size: 15px;
text-align: center;
font-weight: Bold;
text-decoration: none;
}

#coin8 a{
text-decoration: none;
color:#000000;

}

#coin9 {
background-color:#FF6666;
border:1px solid #003366;
border-radius:10px 10px 10px 10px; 
font-family: arial; 
font-size: 15px;
text-align: center;
font-weight: Bold;
text-decoration: none;
}


#liensDroit{

color: #FF0000;
font-size: 18px;
font-family: arial;
text-align: right;
font-weight: Bold;
}

#liensGauche{

color: #FF0000;
font-size: 18px;
font-family: arial;
text-align: left;
font-weight: Bold;
}


