.texte{
color: #000000;
font-family: Arial;
font-size: 25px;
Font-weight: bold;
}

.nomJoueur{
color: #000000;
font-family: Arial;
font-size: 16px;

}

.texte18{
color: #000000;
font-family: Arial;
font-size: 18px;
Font-weight: bold;
}

