


a
{
text-decoration: none;
color: #000000;
}





/*Equipe I et II*/
h3{ 
color: #000000;
background :#99CCFF;
font-size: 18px;
text-align:center;
Font-weight:bold;
border-style: solid;
border-width:2px;
margin:1px;
border-radius: 10px;
margin: 5px 5px 5px 5px;
border-color:#000000;
width: 200px;
}


